.jumbotron {
    background-color: blue;
    color: white;
}

footer {
    padding: 10px 10px 0px 10px;
    background-color: blue;
    margin-bottom: 0px;
    margin-top: 10px;
    color: white;
}

.card-hotel {
    flex: 1 250px;
    padding: 2px 5px 5px 2px;
}

.btn-primary {
    width: 100%;
}